* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-light-blue: #8486a9;
  --color-red: rgb(251, 96, 135);
  --color-white: rgb(255, 255, 255);
  --color-dark-blue: #343650;
  --color-very-dark-blue: #1e1f29;
  --color-black: #191a24;
  --color-dark-blue1: #272938c0;
}

html {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 4vw;
  line-height: 1.5;
  font-weight: 700;
}

.caption {
  font-size: .8em;
  color: var(--color-white);
  text-align: center;
  margin-bottom: 1.5em;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.container {
  min-width: 320px;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-very-dark-blue);
  position: relative;
  display: flex;
  align-items: center;
  padding: 5.5em 0;
}

.container::before {
  content: '';
  display: block;
  background: url('./assets/bg-stars.svg') center / contain repeat;
  height: 75%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.container::after {
  content: '';
  display: block;
  background: url('./assets/pattern-hills.svg') top right / 100% 100% no-repeat;
  height: 25%;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.box {
  text-align: center;
  margin: -3em auto 0 auto;
  position: relative;
  z-index: 1;
}

.counter {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: space-around;
  width: 20em;
  pointer-events: none;
  margin: 0 auto;
}

.count-box p {
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light-blue);
  font-size: .6rem;
  letter-spacing: 3px;
}

.count {
  background-color: var(--color-dark-blue);
  text-align: center;
  position: relative;
  padding: .3em 0;
  margin-bottom: .5em;
}

.count::before, .count::after {
  content: "";
  position: absolute;
  width: .3em;
  height: .3em;
  border-radius: 50%;
  background-color: var(--color-very-dark-blue);
  top: 50%;
  transform: translateY(-50%);
}

.count::before {
  left: -.1em;
}

.count::after {
  right: -.1em;
}

.count > span {
  display: block;
  color: var(--color-red);
  font-size: 2em;
  position: relative;
}

@media (max-width: 1023px) {
  html {
    font-size: 4.8vw;
  }
}