:root {
  --color-light-blue: #8486a9;
  --color-red: rgb(251, 96, 135);
  --color-white: rgb(255, 255, 255);
  --color-dark-blue: #343650;
  --color-very-dark-blue: #1e1f29;
  --color-black: #191a24;
  --color-dark-blue1: #272938c0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  margin: 0 auto;
  z-index: 1;
}

#loader-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all .3s ease-in-out;
  background-color: rgb(30 31 41);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader {
  font-size: .3em;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: var(--color-white);
  background: -moz-linear-gradient(left, var(--color-white) 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, var(--color-white) 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, var(--color-white) 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, var(--color-white) 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, var(--color-white) 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

#loader:before {
  width: 50%;
  height: 50%;
  background: var(--color-white);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

#loader:after {
  background: rgb(30 31 41);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#loader span {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

html {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 4vw;
  line-height: 1.5;
  font-weight: 700;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.caption {
  font-size: .8em;
  color: var(--color-white);
  text-align: center;
  letter-spacing: .2em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

h2 {
  font-size: .5em;
  color: var(--color-white);
  text-align: center;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.container {
  min-width: 320px;
  height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  overflow: hidden;
  background-color: var(--color-very-dark-blue);
  position: relative;
  display: flex;
  align-items: center;
  padding: 3em 0;
}

.container::before {
  content: '';
  display: block;
  background: url('/bg-stars.svg') center / contain repeat;
  height: 75%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.box {
  text-align: center;
  margin: -3em auto 0 auto;
  position: relative;
  z-index: 1;
}

.counter {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: space-around;
  width: 20em;
  pointer-events: none;
  margin: 0 auto;
}

.count-box p {
  text-transform: uppercase;
  text-align: center;
  color: var(--color-light-blue);
  font-size: .6rem;
  letter-spacing: 3px;
}

.count {
  background-color: var(--color-dark-blue);
  text-align: center;
  position: relative;
  padding: .3em 0;
  margin-bottom: .5em;
}

.count::before, .count::after {
  content: "";
  position: absolute;
  width: .3em;
  height: .3em;
  border-radius: 50%;
  background-color: var(--color-very-dark-blue);
  top: 50%;
  transform: translateY(-50%);
}

.count::before {
  left: -.1em;
}

.count::after {
  right: -.1em;
}

.count > span {
  display: block;
  color: var(--color-red);
  font-size: 2em;
  position: relative;
}

.questions {
  text-align: center;
  position: relative;
  z-index: 2;
}

.questions h2 {
  text-align: center;
  font-size: .4em;
  max-width: 43em;
}

.questions input {
  display: block;
  border: 0;
  outline: none;
  height: 1.3em;
  width: 1.3em;
  margin: .4em auto .3em;
  background: #1a1823;
  color: var(--color-white);
  text-align: center;
  font-size: 2em;
  caret-color: transparent!important;
}

input::placeholder {
  color: var(--color-white);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.questions-list {
  display: flex;
  justify-content: center;
  margin: 1em 0;
  gap: 30px;
}

button {
  padding: 1em 3em;
  margin: 0;
  border: 0;
  border-radius: 5px;
  font-size: .4em;
  background: #46485a;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: var(--color-white);
  font-weight: 600;
}

.quiz {
  position: relative;
  text-align: center;
}

.result-box {
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  z-index: 2;
  background: #1e1f29;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  height: 3em;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url('/pattern-hills.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

canvas { 
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.instruction {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(30 31 41 / 50%);
  height: 100%;
  width: 100%;
  padding: 2em;
  z-index: 3;
}

.instruction h2 {
  text-transform: none;
}

.instruction-box {
  background-color: #323441;
  padding: 1em;
  border-radius: 50px;
}

@media (max-width: 1023px) {
  html {
    font-size: 4.8vw;
  }

  h2 {
    font-size: 1em;
    margin-bottom: 2em;
  }

  .questions h2 {
    font-size: .7em;
    max-width: 26em;
  }
  
  .questions input {
    margin: .6em auto .7em;
    height: 2em;
    width: 2em;
  }

  button {
    font-size: .9em;
    padding: 1em 1em;
  }
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}